$mainColor: #FFF;
$textColor: rgba(255, 255, 255, 0.70);
$bgMainColor : #5454D4;
$trans: 0.5s ease;
$gradientOne:  linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.11) 100%);
$gradientText:  linear-gradient(180deg, $mainColor 0%, rgba(84, 84, 212, 0.11) 100%);
$gradientTwo: linear-gradient(180deg, rgba(251, 168, 28, 0.11) 0%, rgba(224, 86, 136, 0.06) 100%);
